body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border: solid 4px purple;
    padding: 16px;
    margin: 12px;
    text-align: center;
    max-width: 1200px;
    margin: 12px auto 12px auto;
}

ul {
    display: inline-block;
    text-align: left;
}

div {
    border: solid 2px green;
    padding: 16px;
    max-width: 1200px;
    margin: 12px auto 12px auto;
}

h1 {
    color: darkred;
    border-bottom: solid 2px purple;
    padding: 2px;
}

h2 {
    color: darkred;
}

footer {
    text-align: center;
    padding: 6px;
}

.menu ul {
    list-style-type: none;
    margin: 12px;
    padding-left: 12px; 
    display: flex;
    justify-content: center;
}

.menu li {
    border: 2px solid palevioletred;
}

.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.menu a:hover{
    color: black;
    background-color: grey;
}

.menu a.is-current {
    background-color: green;
}

.is-current{
    background-color: green;
}